<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj użytkownika</title>
</head>
<body>
<h1>Dodaj nowego użytkownika</h1>
<form action="/add_user/" method="post">
    <label>Login: <input type="text" name="username" required></label><br>
    <label>Hasło: <input type="password" name="password" required></label><br>
    <label>Imię i nazwisko: <input type="text" name="full_name" required></label><br>
    <label>Rola:
        <select name="role">
            <option value="doctor">Lekarz</option>
            <option value="admin">Admin</option>
            <option value="receptionist">Recepcjonista</option>
        </select>
    </label><br>
    <button type="submit">Dodaj użytkownika</button>
</form>
</body>
</html>
