<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj wizytę</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Dodaj wizytę</h1>
        <form method="POST" action="/adding_visit/" enctype="application/x-www-form-urlencoded; charset=UTF-8">

            <div class="form-group">
                <label for="client_id">Wybierz klienta:</label>
                    <select id="client_id" name="client_id" class="form-control" onchange="window.location.href='/adding_visit/?client_id=' + this.value" required>
                    <option value="">Wybierz klienta</option>
                    {{ client_options }}
                </select>
            </div>

            <div class="form-group">
                <label for="pet_id">Wybierz zwierzę:</label>
                <select id="pet_id" name="pet_id" class="form-control" required>
                    {{ pet_options }}
                </select>
            </div>

            <div class="form-group">
                <label for="doctor_id">Wybierz lekarza:</label>
                <select id="doctor_id" name="doctor_id" class="form-control" required>
                    {{ doctor_options }}
                </select>
            </div>

            <div class="form-group">
                <label for="visit_date">Podaj datę wizyty:</label>
                <input type="date" id="visit_date" name="visit_date" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="visit_time">Podaj godzinę wizyty:</label>
                <input type="time" id="visit_time" name="visit_time" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-success">Zapisz wizytę</button>
        </form>

        <p class="mt-4"><a href="/" class="btn btn-primary">Powrót do strony głównej</a></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
